html{
    font-size: 15px;
}

body{
    background-image: url("download (1).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

img {
    max-width: 75%;
    display: block;
  }
  
  #img-div {
    position: absolute;
    right: 10px;
    width: 250px;
    padding: 10px;
    background-image: url(5728867753e69e71c6995b955be0f654.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
  }
  #img-caption {
    margin: 15px 0 5px 0;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  #img-div2 {
    position: absolute;
    right: 300px;
    width: 250px;
    padding: 10px;
    background-image: url(5728867753e69e71c6995b955be0f654.jpg);
    background-position: center right;
    background-size: cover;
    margin: 0;
  }
  #img-div3 {
    position: absolute;
    right: 200px;
    bottom: 20px;
    width: 250px;
    padding: 10px;
    background-image: url(5728867753e69e71c6995b955be0f654.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
  }